/*Custom scss */

/*Import*/
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";



$or: #c2a365;
$table-dark-bg: $or;

$theme-colors: (primary: $or, );



@import "../../node_modules/bootstrap/scss/bootstrap";
@import"./global.scss"